body{
    background-image: url(kos-island-2-1920.jpg)
}



#sticky {
    position: sticky;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    font-size: 40px;
    color: rgb(4, 77, 110);
    text-align: center;
    margin: 0px;
    background-color: rgb(235, 230, 227);
    width: 1000px;
    height: 90px;
    font-family: serif;

}

#button li{
    font-size: 25px;
    margin-top: 1.5rem;
    line-height: 1.5 rem;
}

li{
    background-color: rgb(235, 230, 227);
    width: 30px;
    padding-left: 20px;
    padding-bottom: 4px;
    padding-right: 150px;
    padding-top: 4px;
    margin-left: 20px;
    margin-right: 50px;
    margin: 20px;
}

a:link {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover {
    background-color: rgb(216, 181, 135);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}
 a:visited {
    color: rgb(8, 48, 66);
} 
#wassup {
    display: flex;
}

#aes {
    margin: 1.5rem;
    margin-right: 200px;
    margin-bottom: 150px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 3px;
    padding-right: 40px;
    background-color: rgb(235, 230, 227);
    font-size: x-large;
    color: rgb(8, 48, 66);
}