body{
    background-color:rgb(21, 67, 126);
    background-image: url(kos-island-2-1920.jpg)
}



#sticky {
    position: sticky;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    font-size: 40px;
    color: rgb(4, 77, 110);
    text-align: center;
    margin: 0px;
    background-color: rgb(235, 230, 227);
    width: 1000px;
    height: 90px;
    font-family: serif;

}


    
